body 
{
    background-position: center;    
    margin: 0px 0px 0px 0px;
    background-image: url('Images/Plantilla.jpg');
    background-repeat: no-repeat;
    width: 1920px;
    height: 874px;
    padding: 0px 0px 0px 0px;
}


